<% @title = "About Us!"%>

<h1>Who the heck are you guys?</h1>
<h3>We're just a couple of students like you!</h3>

<h1>Why on earth would you make this site?</h1>
<h3>If you are anything like us, you want to have fast and easy access to accurate information</h3>
<p>We want everyone to have a central place to find accurate information about their Pick-A-Dates</p>

<h1>How It Works</h1>
<h2>Tell your PA's to list your Pick-A-Dates on this website and get your floor to all sign up!</h2>

<p>You can be notified of any changes to the date as soon as your PA updates the information on the site! Just find this site and see the most accurate and up to date information you used to have to dig through your email to find!</p>
  
<h2>We know that our user interface needs some work, and there could be a lot more features, so be sure to hit up our <%= link_to "contact", contact_path %> page and share your ideas on how to make this website better for you!</h2>