<% @title = "About Us!"%>

<h1>About Us!</h1>
<h3>We're just a couple of guys who saw an annoyance and were bored enough to crank this thing out!</h3>

<h2>We know that we suck at user interfaces and just things in general, so be sure to hit up our <%= link_to "contact us", contact_path %> page and let us know what you want out of thie website!</h2>
