<% @title = "Home" %>

<% if !signed_in? %>
<div class="center hero-unit">
  <h1>Welcome to Taylor University Pickadates!</h1>

  <h2>
    This is the central location for all of your pickadate needs!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% else %>

#idea - Have a list of dates in a cover flow type thing that you can click on for details

<div class="center hero-unit">
  <h1>Welcome to signed in Taylor University Pickadates!</h1>

  <h2>
    This is the central location for all of your pickadate needs!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>