<% @title = "Edit " + @date.title %>

<h1> Edit <%= @date.title %></h1>


<%= form_for @date do |f| %>
				<div class="row">
          <%= render "pickadate_form", f: f %>
				</div>
				<div class="row" id="pickadateeditsubmit">
					<%= f.submit "Update Date", class: "btn btn-primary" %>
				</div>
<% end %>




