<% if @user_pickadates.length > 0 %>

<div class='row' id="panel">
	<div class='col-lg-4 col-lg-offset-2 panel panel-primary'>
		<h3 class="panel panel-heading">Name</h3>
	</div>
	<div class='col-lg-4 panel panel-primary'>
		<h3 class="panel panel-heading">Paid</h3>
	</div>
</div>

<% @user_pickadates.each do |user_pickadate| %>
<div class='row' id="people">
	<div class='col-lg-4 col-lg-offset-2 well well-sm' >
		<h3><%= user_pickadate.user.username %> </h3>
	</div>
	<div class='col-lg-4 well well-sm'>
		<td><label class="btn"><span class="yesno"></span>No</label></td>
		<h3><%= user_pickadate.has_paid %> </h3>
	</div>
</div>
<% end %>
<% end %>