<% @title = "Edit " + @user.username %>


<%if current_user.admin != false %>
<head>
<style>
	#hidden_for_user_edit{
		visibility: hidden;
		height:0px;
	}
</style>
</head>
<%end%>

<h1> Edit Your Profile </h1>

    	<%= form_for(@user) do |f| %>
        <div class='row'>
          <%= render "user_form", f: f%>
        </div>
        <div class='row' id="editsubmit">
          <%= f.submit "Update Profile", class: "btn btn-primary" %>
        </div>
      <% end %>

