<% @title = "Edit " + @user.username %>

<h1> Edit Your Profile </h1>

<div class='row'>
    	<%= form_for(@user) do |f| %>
        <%= render "user_form", f: f%>
      <%= f.submit "Update Profile", class: "btn btn-primary", :id => "usereditsubmit" %>
      <% end %>
</div>