<% @title = "Edit " + @user.username %>

<h1> Edit Your Profile </h1>

    	<%= form_for(@user) do |f| %>
        <div class='row'>
          <%= render "user_form", f: f%>
        </div>
        <div class='row' id="editsubmit">
          <%= f.submit "Update Profile", class: "btn btn-primary" %>
        </div>
      <% end %>