<% @title = "Edit " + @user.username %>

<h1> Edit Your Profile </h1>

<div class='row'>
	<div class="span6 offset3">
    	<%= form_for(@user) do |f| %>
        <%= render "user_form", f: f%>
  </div>
    <div class="buttonrow"><%= f.submit "Update Profile", class: "btn btn-primary", :id => "usereditsubmit" %></div>
      <% end %>
</div>