<% @title = "Your Floor's' Dates" %>

<h1>Your Floor's Dates</h1>
<h3>These are the dates you are related to!</h3>

<div class='row'>
	<%= render "pickadate_table", dates: @dates %>
</div> 


<% if current_user.pa? %>
	<div class="row" id='row'><%= button_to "Create a Date", new_pickadate_path, :class => "btn btn-primary", :method => :get, :id => "pickadateeditsubmit" %></div>
<% end %>