// Place all the styles related to the pickadates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#circlething{
  width: 30px;
  height: 30px;
  padding: 33px;
  border-radius: 65px;
  border: 2px solid #404040;
  margin:0 auto;
}

pickadateeditformwells{
  border: 7px solid white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;  
}


.jumbotron{
   text-align:center;
  
}

body > div.container > table > tbody > tr > td {
  width:80px;
}

body > div.container > div.row > div > div.row > div > h2{
  margin-top:0;
}

button{
  margin:5px;
}

body > div.container > div.row > div > div.col-lg-8 > div > div > div > h2{
  margin-bottom:0px;
}


#pickadateusers{
  margin: 0 auto;
  height:132px;
  border: 7px solid white; 
  text-align:center;
  box-shadow: 0 0px 0px #fff;
}

#pickadateusers > h2{
  margin-bottom:0px;
}

#pickadateusers > h4{
    margin-bottom:0px;
    margin-top:0px;
}

#pickadateusers > table{
  width:100%;
  text-align:center;
}



#pickadateinfo > div > div > div{
  height:132px;
  margin: 0 auto;
  height:132px;
  border: 7px solid white; 
  text-align:center;
	box-shadow: 0 0px 0px #fff;
}

#pickadateinfo > div > div > div > p{
  margin-bottom:0;
}


.profilePicture{
  border:1px solid #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;  
  margin-right:10px;
}

#pickadateusers > table > tbody > tr > th {
  padding-left:10%;
}

#pickadateusers > table > tbody > tr > td{
  padding-left:15%;
  text-align:left;
}


pickadateeditsubmit{
  width:100%;
  text-align:center;
  margin-top:200px
}















