// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.moveitalittle {
	float:none;
	left:120px;
}

#showitems > div > h2 > a{
  color:white;
}

#showitems > div {
  text-align:center;
}

#showitems > div > h2{
  margin:0px;
}

#showitems > div > p {
  width:100%;
}

#userShowJumbotron > p{
  text-align:left; 
}

#showitems > div{
  margin: 0 auto;
  padding-left:5px;
  padding-right:5px;
  height:132px;
  border:none;
  box-shadow: 0 0px 0px #fff;
}




.users{ //this is for the users index table and the pickadate index table
  border-collapse:separate;
  margin-top:30px;
  margin-bottom:30px;
}

#showeditbutton{
	margin-top:10px;
}

#userShowJumbotron{
  padding-bottom:10px;
  padding-top:10px;
	margin-top:10px;
}

#userShowJumbotron p{
  margin-bottom:0;
  display:table;  
}

body > div.container > table > tbody > tr > td {
  width:80px;
}

#edititems > div{
  padding:0px;
  margin-left:5px;
  margin-right:5px;
  width:370px;
  height:132px;
}

#usereditformwells{  
  border: 7px solid white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;  
}


#editsubmit{
  text-align:center;
}

#user_upload_div{
  margin-right:90px;
}
  
#user_upload{
  width:100%;
}

.profilePicture{
  border:1px solid #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;  
  margin-right:10px;
	background-position: center center;
  background-size: cover;
  display: inline-block;
}